DJANGO_SECRET_KEY="your-secret-key-here"
DJANGO_DEBUG=True
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=cortex
DATABASE_USER=postgres
DATABASE_PASSWORD=your_db_password_here
DATABASE_HOST=localhost
DATABASE_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_CONCURRENCY=4

AWS_ACCESS_KEY_ID=your_aws_key_id
AWS_S3_ENDPOINT_URL=your_s3_endpoint_url
AWS_S3_REGION_NAME=your_s3_region_name
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_STORAGE_BUCKET_NAME=your_s3_bucket_name
AWS_S3_PUBLIC_BASE_URL=https://your-bucket.t3.storageapi.dev
