amqp==5.3.1
asgiref==3.11.1
attrs==25.4.0
billiard==4.2.4
celery==5.5.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.13.5
cron-descriptor==1.4.5
cryptography==46.0.7
debugpy==1.8.20
Django==5.2.14
django-allauth==65.16.0
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-debug-toolbar==6.2.0
django-filter==25.1
django-simple-history==3.11.0
django-timezone-field==7.2.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2026.1.1
flower==2.0.1
gunicorn==25.1.0
humanize==4.15.0
idna==3.11
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.5.4
packaging==26.0
pillow==12.2.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
pycparser==3.0
PyJWT==2.11.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.2
PyYAML==6.0.3
redis==5.2.1
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.5
tornado==6.5.5
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.7.0
whitenoise==6.11.0
boto3==1.43.18

