server {
    listen 80;
    server_name ${CORTEX_DOMAIN};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${CORTEX_DOMAIN};

    ssl_certificate /etc/letsencrypt/live/${CORTEX_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${CORTEX_DOMAIN}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_timeout 1d;
    ssl_session_cache shared:CortexSSL:10m;
    client_max_body_size 50m;

    location = /cortex/auth/token_jwt/ {
        limit_req zone=cortex_login burst=30 nodelay;
        include /etc/nginx/proxy_params.conf;
    }

    location = /cortex/auth/token_jwt/refresh/ {
        limit_req zone=cortex_login burst=40 nodelay;
        include /etc/nginx/proxy_params.conf;
    }

    location /cortex/admin/login/ {
        limit_req zone=cortex_login burst=30 nodelay;
        include /etc/nginx/proxy_params.conf;
    }

    location / {
        include /etc/nginx/proxy_params.conf;
    }
}
